<html>

{{>header}}
<div>
  <h3>Add new item</h3>
  <form method="POST" action="/new">
<textarea type="text" name="description" placeholder="Description"></textarea>
<input type="text" name="itemName" placeholder="Name" />
<input type="text" name="category" placeholder="Category" />

    <input type="submit"  value="Submit">  </form>
</html>
</div>